* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  z-index: 999;
}

#watch-trailer {
  margin-right: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: yellow;
}

button:hover {
  background-color: yellow;
}
